<table class="calendar table table-bordered">
    <thead>
        <tr>
            <th class="time" scope="col">&nbsp;</th>
            {% for room in timetable.rooms %}
                <th scope="col">{{ room.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in timetable %}
            <tr>
                <td class="time">{{ row.time|date:"h:iA"|lower }}</td>
                {% for slot in row.slots %}
                    <td class="slot slot-{{ slot.kind.label }}" colspan="{{ slot.colspan }}" rowspan="{{ slot.rowspan }}">
                        {% if slot.kind.label == "talk" or slot.kind.label == "tutorial" %}
                            {% if not slot.content %}
                            {% else %}
                                <span class="title">
                                    {{ slot.content.title }}
                                </span>
                                <span class="speaker">
                                    {{ slot.content.speakers|join:", " }}
                                </span>
                            {% endif %}
                        {% else %}
                            {% if slot.title_override %}
                                {{ slot.title_override }}
                            {% else %}
                                {{ slot.kind.label }}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
                {% if forloop.last %}
                    <td colspan="{{ timetable.rooms|length }}"></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
