{% extends "symposion/proposals/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block title %}Upload Document to '{{ proposal.title }}'{% endblock %}
{% block heading %}Upload Document to '{{ proposal.title }}'{% endblock %}

{% block content %}
  <form method="POST" action="" enctype="multipart/form-data" class="form form-horizontal">
    {% csrf_token %}
    <fieldset>
      {{ form|bootstrap }}
    </fieldset>
    <div class="form-actions">
      <input class="btn btn-primary" type="submit" value="Upload" />
      <a href="{% url "proposal_detail" proposal.pk %}" class="btn btn-default">{% trans 'Back to proposal details' %}</a>
    </div>
  </form>
{% endblock %}
