{% extends "symposion/proposals/base.html" %}

{% block title %}Leaving {{ proposal.title }}{% endblock %}
{% block heading %}Leaving {{ proposal.title }}{% endblock %}

{% block content %}

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Are you sure you wish to leave as a speaker on <b>{{ proposal.title }}</b>?</p>
        <input type="submit" class="btn btn-danger" value="I am sure" />
        <a href="{% url "proposal_edit" proposal.pk %}" class="btn btn-default">{% trans 'Back to proposal details' %}
    </form>
{% endblock %}
