{% extends "symposion/proposals/base.html" %}

{% load i18n %}

{% block title %}{% trans "Submit A Proposal" %}{% endblock %}
{% block heading %}{% trans "Submit A Proposal" %}{% endblock %}
{% block lede %}{% endblock %}

{% block content %}

  {% if kinds %}
    <div class="panel panel-primary">
      <div class="panel-heading">
        Select what kind of proposal you'd like to submit:
      </div>

      <div class="list-group">
        {% for kind in kinds %}
          <a href="{% url "proposal_submit_kind" kind.slug %}" class="list-group-item">{{ kind }}</a>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="alert alert-danger">Proposals are not currently open for submission.</div>
  {% endif %}
{% endblock %}
